@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --ff: 'Inter', sans-serif;
    --fs-sm: 11px;
    --fs-normal: 14px;
    --fs-big: 32px;
    --fs-md: 24px;
    --fw-bold: 700;

    --border-radius: 5px;

    
    --color-Green: hsl(163, 72%, 41%);
    --color-Red: hsl(356, 69%, 56%);
    
    --top-Facebook: hsl(208, 92%, 53%);
    --top-Twitter: hsl(203, 89%, 53%);
    /* --top-Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%); */
    --top-Instagram: red;
    --top-YouTube: hsl(348, 97%, 39%);
}

* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    font-family: var(--ff);
    font-size: var(--fs-normal);

    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    min-width: 800px;
}

.container__header {
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;

}

.container__header-switcher {
    cursor: pointer;
}

body[data-theme='dark'] {

    --color-bg: hsl(230, 17%, 14%);
    --color-top-bg: hsl(232, 19%, 15%);
    --color-card-bg: hsl(228, 28%, 20%);
    --color-text: hsl(228, 34%, 66%);
    --color-white: hsl(0, 0%, 100%);


}
body[data-theme='light'] {

    --color-bg: hsl(0, 0%, 100%);
    --color-top-bg: hsl(225, 100%, 98%);
    --color-card-bg:hsl(227, 47%, 96%);
    --color-text: hsl(228, 12%, 44%);
    --color-white: hsl(230, 17%, 14%);
}

.container__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1, h3{
    color: var(--color-white);
}

h3 {
    padding: 40px 0;
}

.card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-card-bg);
    color: var(--color-text);
    padding: 30px;
    border-radius: var(--border-radius);
}

.card-main-amount {
    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
    color: var(--color-white);
    margin: 20px 0 0 0;
}

.card-main-falowers-text {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: var(--fs-sm);
}


.card-main-logo-social {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}
.card-main-logo-social img {
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.card-main-changes {
    margin-top: 20px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}

.cards_summary {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    font-weight: var(--fw-bold);

    font-weight: var(--fw-bold);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cards_summary-card {
    background: var(--color-card-bg);
    border-radius: var(--border-radius);
    padding: 20px;
    color: var(--color-text);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: var(--fs-sm);
}

.cards_summary-card-amount {
    font-size: var(--fs-md);
    color: var(--color-white);
}

.cards_summary-card-change, .cards_summary-card-logo {
    display: flex;
    align-items:end;
    flex-direction: column-reverse;
}

.cards_summary-card-views-text, .cards_summary-card-amount {
    display: flex;
    align-items:end;
    justify-content: left;
    margin-top: 10px;
    
}


.border-fb {
    border-top: 2px solid var(--top-Facebook);
}

.border-tw {
    border-top: 2px solid var(--top-Twitter);
}

.border-in {
    border-top: 2px solid var(--top-Instagram);
}

.border-yu {
    border-top: 2px solid var(--top-YouTube);
}

.up {
    color: var(--color-Green);
    background: url('./images/icon-up.svg') no-repeat;
    padding-left: 15px;
    background-position: center left;
}



.down {
    color: var(--color-Red);
    background: url('./images/icon-down.svg') no-repeat;
    padding-left: 15px;
    background-position: center left;
}

.themeSwitcher {
    background: var(--color-card-bg);
    padding: 10px 20px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.themeSwitcher svg {
    margin-right: 5px;
}